.makingPost{
    width: 50%;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    padding:0 5rem 5rem 5rem;
    border-radius: 0.5rem;
    z-index: 10;
    align-items: center;
    justify-self: center;
    text-align: center;
    
    textarea{
        background-color: rgb(20,20,20);
        color:white;
        margin:1rem;
        width:100%;
        min-height: 5rem;
        padding:0.2rem;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 0.4rem;
    }
}

.text{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(243, 243, 243);
    width: 100%;
    padding:0.5rem 5rem 0.5rem 5rem;

    span{
        font-weight: 500;
    }
}

.dec-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-file-button{
    background-color: rgb(21, 157, 190);
    color:white;
    border: none;
    border-radius: 0.4rem;
    height: 20%;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.send-file-button:hover{
    cursor: pointer;
}

.close-icon{
    position: absolute;
    right: 1rem;
    top:1rem;
}

.close-icon:hover{
    cursor:pointer;
}

.button-file{
    display: none;
}

.disabled-but{
    color:gray;
    background-color: rgb(23, 92, 109);
}